.navbar{
  /* background-color: #1E7FFF; */
  position: fixed;
  width: 100%;
  background: rgb(145,145,145);
  background: linear-gradient(180deg, rgb(158, 158, 158) 0%, rgba(106,106,106,1) 100%);
  border-top: 1px solid rgb(188, 188, 188);
}
.navbar-light .navbar-nav .nav-link{
  color: white;
  margin: 0px 3px;
}
.navbar a{
  font-size: 0.85rem;
}
.navbar-brand{
  padding: 0;
}
.dropdown-menu {
  margin-top: 0;
  background-color: #a3a3a3;
}
.dropdown-menu .dropdown-toggle::after {
  vertical-align: middle;
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}
.dropdown-menu .dropdown .dropdown-menu {
  left: 100%;
  top: 0%;
  margin: 0 20px;
  border-width: 0;
}
.dropdown-menu .dropdown .dropdown-menu.left {
  right: 100%;
  left: auto;
}
.dropdown-menu li a{
  color: white;
}
@media (min-width: 768px) {
  .dropdown-menu .dropdown .dropdown-menu {
    margin: 0;
    border-width: 1px;
  }

  .dropdown-menu > li a:hover,
  .dropdown-menu > li.show {
    background: #818181;
    color: white;
  }
  .dropdown-menu > li.show > a {
    color: white;
  }
}
